*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


/*-- container-header --*/

header {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1000;
    transition: 0.6s;
}

nav {
    position: fixed;
    width: 100%;
}

nav ul {
    padding: 0;
    text-align: right;
    margin: 0;
    overflow: hidden;
}

nav ul li {
    display: inline-block;
    margin: 30px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.5%;
    font-weight: 500;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    font-size: 13px;
}

@media screen and (min-width: 828px) {
    nav ul li a::before {
        content: "";
        position: absolute;
        background: rgb(248, 76, 14);
        width: 50px;
        height: 3px;
        bottom: 30px;
        transform-origin: 100% 0;
        transform: scaleX(0);
        transition: transform 0.4s;
    }

    nav ul li a:hover::before {
        transform-origin: 0 0;
        transform: scaleX(1);
    }
}

nav ul li a:hover {
    color: #fff;
}

nav .logo {
    position: fixed;
    float: left;
    margin: 10px 20px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
}

nav .logo strong {
    color: #f8cc54;
    font-size: 30px;
}


/*-- container-hamber-menu --*/
.hamberger {
    display: none;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    text-align: right;
    padding: 15px 24px;
}


/*-- Container Banner --*/
.banner {
    background-image: url('banner.jpg');
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container-text {
    position: relative;
    top: 200px;
    padding-left: 40px;
    color: #fff;
    font-family: 'Teko', sans-serif;
    background: rgb(3, 207, 197);
    width: 660px;
    height: 250px;
    box-shadow: 0 0 50px 50px rgb(3, 207, 197);
}

.container-text h1 {
    font-size: max(6vw, 40px);
    font-weight: 500;
}

.container-text p {
    width: 650px;
    margin-top: -20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.container-text button {
    position: relative;
    width: 200px;
    height: 50px;
    background: rgb(248, 76, 14);
    color: #fff;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    letter-spacing: 0.1rem;
    overflow: hidden;
    cursor: pointer;
    border: none;
}

.container-text button a {
    color: #fff;
}

/*.container-text button::after {
    content: "";
    position: absolute;
    background: rgb(248, 76, 14);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;
} 

.container-text button:hover::after {
    transform: translateY(-100%);
}

.container-text button a:hover {
    color: #000;
}*/


/*-- container about --*/

.about h1 {
    text-align: center;
    color: rgb(6, 179, 170);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 30px;
    margin-top: 100px;
}

.about .title p {
    display: block;
    margin: 0 auto;
    background: rgb(248, 76, 14);
    width: 40px;
    height: 2px;
    border-radius: 30px;
    font-weight: 300;
}

.container-about {
    display: flex;
    padding: 60px;
}

.text-about {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: rgb(86, 85, 85);
    padding: 3% 3%;
    font-size: 15px;
    text-align: justify;
}

.img-about img {
    width: 500px;
    height: 380px;
    border-radius: 10px;
}

/*-- container services --*/

.services h1 {
    text-align: center;
    color: rgb(6, 179, 170);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 30px;
    margin-top: 100px;
}

.services .title p {
    display: block;
    margin: 0 auto;
    background: rgb(248, 76, 14);
    width: 40px;
    height: 2px;
    border-radius: 30px;
}

.container-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.cad {
    max-width: 350px;
    min-width: 280px;
    margin: 3px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cad span {
    display: block;
    width: 80px;
    margin: 0 auto;
    font-size: 80px;
    color: rgb(248, 76, 14);
}

.cad h2 {
    color: rgb(44, 44, 44);
    padding: 10px;
    font-size: 25px;
}

.cad p {
    color: rgb(44, 44, 44);
    font-size: 14px;
    padding: 5px;
    font-weight: 400;
}

.cad h3 {
    display: block;
    width: 150px;
    margin: 20px auto;
    color: rgb(44, 44, 44);
    font-size: 17px;
    padding: 10px;
    font-weight: 400;
    /*border: 1px solid rgb(248, 76, 14);*/
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cad h3:hover {
    background: rgb(248, 76, 14);
    color: #fff;
}

#cad-center {
    height: 480px;
}

#cad-center span {
    color: rgb(6, 179, 170);
}


/*-- container réalisation --*/

.realisation h1 {
    text-align: center;
    color: rgb(6, 179, 170);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 30px;
    margin-top: 100px;
}

.realisation .title p {
    display: block;
    margin: 0 auto;
    background: rgb(248, 76, 14);
    width: 40px;
    height: 2px;
    border-radius: 30px;
}


/*-- container-equipe --*/

.equipe h1 {
    text-align: center;
    color: rgb(4, 209, 199);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 40px;
    margin-top: 100px;
}

.equipe .title p {
    text-align: center;
    position: relative;
    top: -60px;
    left: -97px;
    background: rgb(248, 76, 14);
    width: 80px;
    height: 2px;
    display: flex;
    margin: 0 auto;
    color: #fff;
}

.container-equipe {
    display: flex;
    justify-content: center;
}

.profile img {
    width: 80px;
    height: 80px;
    border: 3px solid rgb(248, 76, 14);
    border-radius: 50%;
    margin: 40px 10px;
}

.profile p {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    position: relative;
    left: -20px;
}

#p2 img {
    position: relative;
    left: -30px;
}

#p3 img {
    position: relative;
    left: -60px;
}


/*-- container-objectif --*/
.objectif {
    background: url('img-obj.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 60vh;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
}

.container-objectif {
    display: block;
    width: 60%;
    margin: 0 auto;
    background: #fff;
    padding: 3% 0;
}

.container-objectif p {
    display: block;
    margin: 0 auto;
    width: 80%;
    font-size: 16px;
    color: rgb(44, 44, 44);
    font-weight: 400;
    text-align: center;
}

.container-objectif h5 {
    display: block;
    margin: 20px auto;
    width: 300px;
    background: rgb(248, 76, 14);
    color: #fff;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border-radius: 30px;
}
.container-objectif h5:hover {
    background: rgb(255, 104, 49);
}


/*-- Container-footer --*/
footer {
    background: rgb(26, 25, 25);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

.container-footer {
    display: flex;
    padding: 3%;
}

.logo-footer h1 {
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
}

.logo-footer h1 strong {
    color: rgb(4, 209, 199);
}

.logo-footer p {
    width: 500px;
    font-size: 13px;
    color: rgb(199, 198, 198);
}

.reseaux i {
    color: #fff;
    margin: 0 2px;
}

.adresse {
    margin: 0 50px;
}

.container-addr {
    margin: 20px 0;
}

.adresse h1 {
    font-size: 20px;
}

.container-addr p i {
    color: rgb(4, 209, 199);
}

.container-addr p {
    margin-top: 20px;
    font-size: 13px;
    color: rgb(199, 198, 198);
}

.actualite {
    margin: 0 50px;
}

.actualite h1 {
    font-size: 20px;
}

.container-actu {
    margin-top: 20px;
}

.container-actu a {
   color: rgb(199, 198, 198);
   margin-top: 20px;
   font-size: 13px;
}

.container-actu strong {
   color: rgb(248, 76, 14);
}

.bordur {
    border-bottom: 1px solid rgb(49, 49, 49);
}

.liens {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.liens a {
    text-decoration: none;
    color: rgb(199, 198, 198);
    padding: 5px;
    font-family: Poppins, sans-serif;
    font-size: 13px;
}

.liens span {
    font-size: 30px;
    color: rgb(248, 76, 14);
}

.copyright p {
    text-align: center;
    font-size: 13px;
    color: rgb(199, 198, 198);
}

/*-- container-equipe --*/
.banner-equipe {
    position: relative;
    background: url('banner-equipe.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 80vh;
}

.titre h2 {
    position: relative;
    color: #fff;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    top: 230px;
}

@media screen and (max-width: 380px) {
    .titre h2 {
        font-size: 30px;
    }
}

.cat-equipe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.cat {
    position: relative;
    padding: 10px;
}

.cat img {
    width: 370px;
    height: 350px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.reseau-equipe h2 {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #fff;
}

.reseau-equipe {
    position: absolute;
    top: 70%;
    padding: 12px 25px;
    background: rgb(2, 118, 112);
    opacity: 0.8;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.reseau-equipe i {
    padding: 0 4px;
    color: #fff;
}


/*-- container-contact --*/
.banner-contact {
    position: relative;
    background: url('banner-contact.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    font-family: 'Poppins', sans-serif;
}

.banner-contact .titre h2 {
    position: relative;
    color: #fff;
    font-size: 50px;
    font-family: Poppins, sans-serif;
    text-align: center;
    top: 230px;
}

@media screen and (max-width: 380px) {
    .banner-contact .titre h2 {
        font-size: 30px;
    }
}

.container-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.info {
    padding: 30px 50px;
}

.info i {
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    font-size: 30px;
    color: #fff;
    background: rgb(248, 76, 14);
    padding: 14px 20px;
    border-radius: 50%;
}

.info h2 {
    font-size: 15px;
    padding: 20px;
    text-align: center;
}

.container-contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    background: rgb(243, 243, 248);
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.iframe-map {
    margin-top: 20px;
}

.formulaire {
    padding: 20px;
}


/* form */
.container-input {
    font-size: 16px;
}
.container-input input {
    background: #fff;
    outline: none;
    border: none;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    padding: 0 10px;
    font-weight: 500;
    border-radius: 3px;
}

.textarea textarea {
    background: #fff;
    outline: none;
    border: none;
    width: 100%;
    height: 300px;
    resize: none;
    margin: 10px 0;
    padding: 5px 10px;
    font-weight: 500;
    border-radius: 3px;
}

form button {
    background: rgb(248, 76, 14);
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 16px;
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border-radius: 3px;
}

.formulaire h2 {
    font-size: 40px;
    margin: 20px 0;
}

.formulaire p {
    font-size: 16px;
    margin: 20px 0;
}







/* animation */
.reveave {
    opacity: 0;
    transform: translateY(80px);
}

.reveave-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(.5, 0, 0, 1);
}







/* Responsive element */

/* menu hambuger */
@media (max-width: 829px) {
    .hamberger {
        display: block;
    }

    .logo {
        position: fixed;
        top: 0;
        left: -9px;
    }

    nav ul {
        max-height: 0;
        background: #fff;
        height: 500px;
    }

    .menu {
        max-height: 20em;
        transition: 0.80s;
    }

    nav ul li {
        width: 100%;
        text-align: center;
        padding: 20px 0;
        margin: 0;
    }

    nav ul li a {
        font-size: 15px;
        font-weight: 500;
    }
}

@media screen and (max-width: 829px) {
    header nav ul li a {
        color: black;
    }

    .logo a {
        color: black;
    }

    nav ul li a:hover {
        color: #000;
    }

    /*nav ul li a::before {
        content: "";
        position: absolute;
        background: rgb(248, 76, 14);
        width: 50px;
        height: 3px;
        bottom: 30px;
        transform-origin: 100% 0;
        transform: scaleX(0);
        transition: transform 0.4s;
    }

    nav ul li a:hover::before {
        transform-origin: 0 0;
        transform: scaleX(1);
    }*/
}

/*-- scroll-animation-header --*/
header.sticky {
    background: #fff;
    box-shadow: 2px 5px 5px rgb(241, 238, 238);
}

@media screen and (max-width: 829px) {
    header.sticky {
        height: 0;
    }
}

header.sticky nav ul li a {
    color: black;
}

header.sticky .logo {
    color: black;
}

header.sticky .logo span {
    color: rgb(4, 209, 199);
}

/* banner */
@media screen and (max-width: 993px) {
    .container-text h1 {
        font-size: 50px;
        padding: 10px 0;
    }

    .container-text p {
        padding: 5px 0;
        width: 100%;
    }

    .container-text {
        width: 80%;
        height: 300px;
        padding: 20px 20px;
    }
}
@media screen and (max-width: 528px) {
    .container-text p {
        font-size: 14px;
    }

    .container-text {
        height: 300px;
    }

    .container-text h1 {
        font-size: 40px;
    }
}
@media screen and (max-width: 377px) {
    .container-text {
        height: 330px;
    }
}

/* about */
@media all and (max-width: 1049px) {
    .img-about img {
       display: none;
    }

    .text-about {
        padding: 0;
        margin: 0;
    }

    .container-about {
        padding: 50px 0;
        margin: 0 20px;
    }
}

/* objectif */
@media all and (max-width: 993px) {
    .container-objectif {
        width: 90%;
    }
}
@media all and (max-width: 406px) {
    .container-objectif h5 {
        font-size: 15px;
        width: 230px;
    }
}

/* equipe */
@media all and (max-width: 500px) {
      .cat-equipe .cat img {
        width: 100%;
        height: 350px;
      }
}

/* footer */
@media all and (max-width: 1120px) {
    .container-footer {
        flex-direction: column;
        padding: 50px 15px;
    }

    .logo-footer p {
        width: 100%;
    }

    .adresse {
        padding: 40px 0;
        margin: 0;
    }

    .actualite {
        padding: 0;
        margin: 0;
    }
}

/* contact */
@media all and (max-width: 993px) {
    .container-contact {
        margin: 0 auto;
    }
}
@media all and (max-width: 996px) {
    .container-contact {
        grid-template-columns: 1fr;
    }
}
@media all and (max-width: 390px) {
    .formulaire h2 {
       font-size: 30px;
    }
}





















